<!--The content below is only a placeholder and can be replaced.-->

    <head></head>
      <body>

      <div class="row">
        <div class="col-md-4">
          <span><img (click)="startFabrication()" [attr.src]="server+image+world.logo" /> Welcome to {{ world.name }}!  </span>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <span [innerHTML]="world.money | bigvalue"></span>€
          
          </div>
        
        <div class="col-md-4">
          <span><input type="button" class="btn" value="Acheter x1" /></span>
          <input class="input-right" type="text" name="pseudo" id="pseudo" placeholder="Ex : Sushiskiller"  />
        </div>  
      </div>    

      <div id="images" class="row">
        <div class="col-md-2">
            <div id="bandeau_gauche">
                <ul>
                  
                  <input type="button" class="btn" value="Unlock"/>
                  <input type="button" class="btn" value="AngelUpgrade" />
                  <input type="button" class="btn" value="Manager" />
                </ul>
              </div>
        </div>
        <div class="col-md-10">
            <app-product [prod]="world.products.product[0]" class="product col-md-6"></app-product>
            <app-product [prod]="world.products.product[1]" class="product col-md-6"></app-product>
            <app-product [prod]="world.products.product[2]" class="product col-md-6"></app-product>
            <app-product [prod]="world.products.product[4]" class="product col-md-6"></app-product>
        </div> 
        
      </div>


      
    </body>
  <h1>
